* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Libre Baskerville', serif;
}

.gif{
    background-image: url('https://i.pinimg.com/originals/20/20/bf/2020bf44ed994d07bdc2196540b3bbd3.gif');
    background-size: cover;
    height: 100vh;
}

.log-in {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
}

.text-container {
    padding: 3% 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

.text {
    color: white;
}

.title-container {
    font-weight: 900;
    font-size: 3.5em;
}

.title-container .letter {
    display: inline-block;
    line-height: 1em;
}

.title-container .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.title-container .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.title-container .line1 {top: 0;}
.title-container .line2 {bottom: 0;}

.menu .button {
    background-color: black;
}

.logo {
    transition: 0.6s;
}

.logo:hover {
    text-shadow: 0 0 1px black;
    transition: 0.6s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid teal;
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
}

td {
    text-align: center;
}

tr.expandable.not_expanded {      /* hide row reminder on end of transition */
    transition-delay: 2020ms;     
    visibility: collapse;
}

tr.expandable td {
    transition: all 2000ms linear;
    line-height: 140%;            /* % or UoM required for good transition */
}

tr.expandable.not_expanded td {
    line-height: 0%;     
    padding-top: 0;
    padding-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);    
    opacity: 0;
}

tr.expandable.not_expanded td > div {
    transition: max-height 2000ms ease-in;
    max-height: 10rem;
    overflow: hidden;
    max-height: 0rem;
    transition-timing-function: cubic-bezier(0, 0.8, 0, 0.8);
}

#reveal {
    border-radius: 25px;
    margin: auto;
    width: 100%;
    color: red;
    padding-bottom: 2%;
}

#reveal:hover {
    color: green;
}