html, body{
    height: 100%;
    margin: 0;
}

.gif{
    background-image: url('https://i.pinimg.com/originals/20/20/bf/2020bf44ed994d07bdc2196540b3bbd3.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
}