<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculate</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <br>
      <form action="/logout" method="POST">
        <input class="small button" type="submit" name="sub2" value="Logout">
      </form>
      <form action="/profile" method="POST">
        <a class="small button" name="{{username}}" href="/view">
            <div>View Profile</div>
        </a>
      </form>
      <form action="/" method="POST">
        <input class="small button" type="submit" name="sub2" value="Go back home">
      </form>

      <h1>
        Fill out this form!
      </h1>
      <br> We've already obtained all your secretive information that you thought you could hide from us. Please give us more information so that we could make your results accurate.
      <div class="row">
      <div class="columns">
        <form action="/results">
          <br>
          FILL IN THE BLANK OPTION: <b>use an input tag and type="text"</b>
          <label><i>Put in thy name.</i>
            <input type="text">
          </label>
          <br>

          CHOOSE THE OPTION: <b>use the select tag</b>
          <label><i>How tired are you today?</i>
            <select><option value="one">1</option>
              <option value="two">2</option>
              <option value="three">3</option>
              <option value="four">4</option>
              <option value="five">5</option>
              <option value="six">6</option>
              <option value="seven">7</option>
              <option value="eight">8</option>
              <option value="nine">9</option>
              <option value="ten">10</option>
            </select>
          </label>
          <br>

          LONG ANSWER RESPONSE: <b>use textarea tag for the stretchable box</b>
          <label>
            <i>Is Mr. Mykolyk the greatest teacher ever? Write at least two sentences on your opinion. (25 points)</i>
            <textarea></textarea>
          </label>

          MULTIPLE CHOICE!!: <b>use a fieldset to create columns, then use an input type="radio" tag for each answer choice. For checkboxes, the input type is "checkbox"</b><br>
          <div class="row">
            <i>How many holes are in a polo?</i>
            <fieldset class="large-6 columns">
              <input type="radio" value="1" id="choice1" required><label>1</label>
              <input type="radio" value="2" id="choice2"><label>2</label>
              <input type="radio" value="4" id="choice3"><label>4</label>
            </fieldset>
            <i>What world cups have you watched?</i>
            <fieldset class="large-6 columns">
              <input id="1" type="checkbox"><label for="checkbox1">2014</label>
              <input id="2" type="checkbox"><label for="checkbox2">2018</label>
              <input id="3" type="checkbox"><label for="checkbox3">2022 (now)</label>
            </fieldset>
          </div>

          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>

        </form>
      </div>
    </div><br>
    </div>
    </div>
</body>
</html>