<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</head>

<body style="background-image: url('https://i.pinimg.com/originals/1e/a2/aa/1ea2aa42b47846ef8240017413e63c65.jpg'); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; background-position:center">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Stalker™</li>
        <li style="color: purple;"><a style="color: purple" href="about.html">United Purple NPCs</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><form action="/logout" method="POST"><input class="small button" type="submit" value="Log Out"></form></li>
        <li><form action="/view" method="POST"><input class="small button" type="submit" value="View Profile"></form></li>
      </ul>
    </div>
  </div><br>

  <div class="callout large secondary">
    <div class="row">
      <div class="large-4 columns">
        <div class="body-container">
          <div class="landing">
            <h1>
              Welcome, {{username}}, to our home page!
            </h1>
            {{error}}
            {% if error == null %}
              <!-- Test stuff: -->
              <br> {{date}}
              <br> {{weekday}}
              <br> {{time}}
              <br> {{weather}}
              <br> Your IP address is {{ip}}
              <!-- End of test stuff -->
              <br>

            {% endif %}
          </div>

          <h2>Discover</h2>
          Other similar users:
          <!-- <ul class="test-carosel" data-orbit>
            <li class="active">
              <img></img>
              <div class="orbit-caption">
                Caption One.
              </div>
            </li>
            <li>
              <img></img>
              <div class="orbit-caption">
                Caption Two.
              </div>
            </li>
          {% for user in similar %}
            <li>
              <div>
                Username: {{user[0]}}
                {{user}}
              </div>
            </li>
          {% endfor %}
          </ul> -->
          <form action="/results" method="POST">
            <input class="small button" type="submit" value="SEE YOUR RESULTS">
          </form>
          <form action="/similar" method="POST">
            <input class="small button" type="submit" value="SEE SIMILARITIES">
          </form>
          [this actually has to show our results in a nice way and have similar results in a similar way]

          <br>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>



</body>
</html>
