<!DOCTYPE html>

<html lang="en">
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"
            crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">UnitedPurpleNPCs</li>
          <li><form action="/logout" method="POST">
              <input class="small button" type="submit" value="Logout">
          </form></li>
        </ul>
      </div>
  </div>
    <br>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
    <div>
      <form action="/profile" method="POST">
        <a class="small button" name="{{username}}" href="/view">
            <div>View Profile</div>
        </a>
      </form>
    </div>
    <div class="body-container">
      <div class="landing">
        <h1>
          Welcome, {{username}}, to our home page!
        </h1>
        Before we proceed and show our calcuations about you, we will need to get some more information about you. We will obtain this information by any means possible :)
        <!-- Test stuff: -->
        <br> {{date}}
        <br> {{weekday}}
        <br> {{time}}
        <br> {{weather}}
        <br> Your IP address is {{ip}}
        <!-- End of test stuff -->
        <br> Please click our calculations button. <br>
        <br> Our sources indicate that you've already had your calculations done. If you want to do them again, please click the button again! (alternative message if user already did it)
        <form action="/calculate" method="POST">
          <input class="small button" type="submit" value="CALCULATE YOUR CHANCES">
        </form>
        <br>
      </div>

      <h2>Discover</h2>
      <form action="/results" method="POST">
        <input class="small button" type="submit" value="SEE YOUR RESULTS">
      </form>
      <form action="/similar" method="POST">
        <input class="small button" type="submit" value="SEE SIMILARITIES">
      </form>
      [random stuff we could implement later lol]

      <br>
    </div>
    </div>
    </div>
  </body>

</html>
